<form [formGroup]="form" (ngSubmit)="searchSets()">
  <div class="search-form">
    <input formControlName="name" type="text" placeholder="Nome" class="form-control">
    <select formControlName="block" class="form-control">
      <option value="">Selecione um Bloco</option>
      <option value="Amonkhet">Amonkhet</option>
      <option value="Ixalan">Ixalan</option>
      <option value="Zendikar">Zendikar</option>
      <option value="Ravnica">Ravnica</option>
      <option value="Onslaught">Onslaught</option>
    </select>
    <button type="submit">Buscar</button>
  </div>
</form>

<div *ngIf="sets.length">
  <h3>Resultados da Pesquisa</h3>
  <div *ngFor="let set of sets; trackBy: trackBySetId">
    <p>{{ set.name }} - {{ set.block }} - {{ set.releaseDate }}</p>
    <button (click)="selectSet(set.code)">Selecionar</button>
  </div>
</div>

<div *ngIf="cards.length">
  <h3>Suas cartas do pacote aberto</h3>
  <div *ngFor="let card of cards; trackBy: trackByCardId">
    <p>{{ card.name }}</p>
    <p>{{ card.manaCost }}</p>
    <p>{{ card.colorIdentity }}</p>
    <p>{{ card.text }}</p>
    <img [src]="card.imageUrl" alt="{{ card.name }}">
  </div>
</div>

